body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Quicksand", system-ui;
    margin: 0;
    padding: 0;
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/violao.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header-1{
    font-size: 10vh;
    margin-bottom: 18vh;
    margin-top: 3vh;
}

#header-2{
    margin-top: 2vh;
    font-size: 6vh;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.hino-div{
    width: 100%;
    margin-top: 5vh;
}

.hino{
    width: 90%;
    border-radius: 6vh;
}

.cifra-div{
    width: 100%;
    margin-top: 5vh;
}

.cifra{
    width: 90%;
    border-radius: 4vh;
}

.opcoes{
    background-color: transparent;
    height: 12vh;
    width: 90vw;
    margin-top: 3vh;
    margin-left: 5vw;
    border-radius: 3.5vh;
}

#opcao1{
    background-color: rgba(0, 0, 0, 0.5);
}

#opcao2{
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px rgb(255, 255, 255, 0.5);
}

#opcao3{
    margin-top: 2.5vh;
}

#abrir-cifras{
    font-family: "Quicksand", system-ui;
    font-size: 3vh;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

#abrir-cifras:focus{
    color: rgb(255, 255, 255);
}

#abrir-o-hinario{
    font-family: "Quicksand", system-ui;
    font-size: 4vh;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 3.5vh;
    height: 12vh;
    width: 90vw;
}

#abrir-o-hinario:focus{ 
    color: rgb(0, 0, 0);
    border: none;
}

#inserir-numero{
    font-family: "Quicksand", system-ui;
    margin-top: 3vh;
    height: 6vh;
    width: 50vw;
    border-radius: 1.5vh;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 2.5vh;
    transition-duration: 0.2s;
}

#inserir-numero:focus{
    background-color: rgb(218, 218, 218);
    outline: none;
    transition-duration: 0.2s;
}

#inserir-numero::placeholder{
    color: rgb(255, 255, 255, 0.8);
}

#inserir-numero:focus::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 500;
}

#procurar{
    font-family: "Quicksand", system-ui;
    height: 6vh;
    width: 25vw;
    border-radius: 1.5vh;
    font-size: 2.5vh;
    border: solid 2px rgb(87, 173, 212);
    background-color: transparent;
    color: rgb(87, 173, 212);
}

#procurar:focus{
    color: white;
    background-color: rgb(87, 173, 212);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}
